.facebook {
  background-color: #3b5999;
}

.twitter {
  background-color: #00acee;
}

.youtube {
  background-color: #f50000;
}

.instagram {
  background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4);
}
