.cards {
  @apply relative mb-2 pb-4 px-3 flex w-full flex-col rounded-xl bg-clip-border text-gray-700;
  box-shadow:
    0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur)
      var(--card-box-shadow-1),
    0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur)
      var(--card-box-shadow-2),
    0 0 0 1px var(--card-border-color);
  cursor: pointer;
  transition: box-shadow 0.25s;
}
.cards:hover {
  box-shadow:
    0px 3px 6px var(--card-hover-box-shadow-1),
    0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur)
      var(--card-hover-box-shadow-2),
    0 0 0 1px var(--card-hover-border-color);
}

.image {
  @apply relative overflow-hidden text-white shadow-lg rounded-xl bg-clip-border shadow-blue-500/40;
}

.head {
  @apply flex items-center justify-between mb-3;
}

.h5 {
  @apply text-xl sm:text-2xl font-semibold inline-block hover:text-indigo-600 transition duration-500 ease-in-out;
}

.p {
  @apply text-gray-700 text-base leading-6;
}
